/*
========================================================================
BLOG :: Body
========================================================================
*/

#container {
  /* margin: 0 auto; */
  /* max-width: 980px; */
  /* min-width: 600px; */
  /* overflow: auto; */
  padding: 0 1rem;
  /* border: 1px solid #F7F7F7; */
  background-color: rgba(0, 0, 0, 0.5);
}

a {
  /* color: #006AC8; */
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/*
========================================================================
BLOG :: Head
========================================================================
*/

div#blog {
  margin-top: 0.5rem;
  padding: 0 5vw;
}

#blog-head {
  margin: 0 0 0.4rem;
  font-weight: lighter;
  border-bottom: 1px solid #F1F1F1;
  padding: 0;
}

#blog-head a {
  color: #333;
  text-decoration: none;
  font-size: 3.6em;
}

#blog-head span.blog-title {
  color: #777777;
}

#blog-head span.blog-slogan {
  color: #777777;
}


/*
========================================================================
BLOG :: Main
========================================================================
*/

#main {
  margin: 0 auto;
  overflow: auto;
  font-size: 1.4em;
}

#main-column {
  /* margin-right: 280px; */
  width: 80%;
}

#sidebar {
  margin-left: 0.3rem;
  display: flex;
  flex-flow: column;
  /*   background: hsla(0, 100%, 50%, 0.1); */
}


/*
========================================================================
BLOG :: Footer
========================================================================
*/

#blog-foot {
  text-align: right;
  font-size: 1.1em;
}


/*
========================================================================
BLOG :: Page 404
========================================================================
*/

div.page_404 {}


/*
========================================================================
BLOG :: Pager
========================================================================
*/

#pager {
  overflow: auto;
  text-align: center;
}

#pager a.next-page {
  float: right;
  background: #FFFFFF;
  padding: 0 5px;
}

#pager a.prev-page {
  float: left;
  background: #FFFFFF;
  padding: 0 5px;
}

#pager a.home-page {
  background: #FFFFFF;
  padding: 0 5px;
}


/*
========================================================================
Nibbleblog Styles
========================================================================
*/

.nb-code {
  border-style: solid !important;
}

.nb-console {
  background: url("img/console.png") no-repeat scroll 8px 8px #F1F1F1;
  display: block;
  line-height: 24px;
  margin: 5px 0;
  overflow: auto;
  padding-left: 38px;
  white-space: nowrap;
  border: 1px solid #ccc !important;
}

.nb-align-left {
  float: left;
  margin: 0 1em 1em 0;
}

.nb-align-right {
  float: right;
  margin: 0 0 1em 1em;
}

.nb-align-center {
  display: block;
  margin: 0 auto 1em;
}


/* corrections */

#main {
  display: flex;
  flex-direction: row-reverse;
}

#blog p a,
#blog span.permalink a,
#blog .share a,
#blog .plugin-box li a {
  color: hsla(0, 0%, 70%, 1);
}

h1.post-title a {
  color: hsla(0, 0%, 100%, 1);
}

#blog a:hover {
  text-decoration: underline;
  /* text-underline-position: under; */
  text-decoration-color: hsl(36, 100%, 40%);
}

h1.post-title {
  font-size: 0.7rem;
  /* color: red; */
}

.share a {
  font-size: 0.2rem;
}

.share_wrap {
  display: flex;
  margin-top: 0;
}

.post-published {
  color: hsl(0, 0%, 80%);
  font-size: 0.3rem;
}

h3.plugin-title {
  font-size: 0.25rem;
  margin-bottom: 0.1rem;
  color: white;
  text-align: left;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}

.plugin-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 0.1rem;
  margin-bottom: 0.2rem;
}

.plugin-box li {
  font-size: 0.2rem;
  text-align: left;
  padding-bottom: 0.05rem;
}

.post-content p {
  font-size: 0.25rem;
  text-align: left;
  margin: 0 0 0.2rem;
  color: hsl(0, 0%, 90%);
}

span.blog-name {
  font-size: 0.7rem;
  color: white;
  padding: 0.3rem;
}

span.share {
  margin-right: 0.2rem;
  display: inline-flex;
}

article.post header {
  padding: 0.1rem 0;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

span.permalink {
  text-align: left;
  font-size: 0.2rem;
}


/* media queries */

@media (max-width: 699px) AND (orientation: portrait) {
  #main {
    flex-direction: column;
  }
  #sidebar {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0;
  }
  #main-column {
    width: auto;
  }
}

